<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <small> <%= @user.role %> </small></br>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <%= @user.email %> </br>
  <% if current_user && (current_user.admin? || current_user.editor?) %>
    <%= link_to "User List", users_path %> </br>
  <% end %>
<<<<<<< HEAD
</div>
=======
  <% if logged_in? %>
    <%= link_to "Edit My Profile", edit_user_path %> </br>
    <%= link_to "New Book", new_book_path %>
    <%= link_to "List Books", books_path(@user) %> </br>
    <%= link_to "Log out", logout_path, method: "delete" %> </br>
  <% else %>
    <%= link_to "Log in", login_path %> </br>
  <% end %>
</div>
>>>>>>> create-books
